* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#gauge1 {
    width: 250px;
    height: 250px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 2px;
}

.one {
    width: 40%;
    float: left;
}

.two {
    margin-left: 40%;
}

#modalbackground {
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    display: none;
}

form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}

form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
}

form button:hover {
    background: gold;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

input:focus {
    outline: 3px solid gold;
}

@media (min-width: 400px) {
    form {
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }

    label {
        text-align: right;
        grid-column: 1 / 2;
    }

    input,
    button {
        grid-column: 2 / 3;
    }
}

.registered-form-div {
    background-color: #eee;
    border: 1px solid #11515E; /* navy */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px;
    display: inline-block;
    top: 20vh;
    left: 35vw;
    position: fixed;
    z-index: 100;
}

/* table divs html-cleaner.com */
.rTable {
    display: table;
    width: 100%;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}

.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}

.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}

.rTableBody {
    display: table-row-group;
}